@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding:0px;
    margin:0px;
    height:auto;
     width: auto;
}

html {
  font-family: "Libre Baskerville", "sans-serif";
}
/* telefono*/
@media screen and (min-width: 200px)
{
    header{
   display: flex;
      background-color: black;
      height: 6vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 0px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  padding: 7px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 1vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 1vh;
       font-weight:  bolder;
       
    padding:10px;
}

.idioma{
    color:white;
     font-size: 0.5vh;
}


   .playa{
        margin: 5%;
        height: 20vh;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Izq{
        
        display: flex;
        flex-direction: column;
        margin: 50px auto;
        width: 70%;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 5px;
        height: 30vh;
    }

    .Titulo h2{
        
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: encabezado;
        color: white;
    }

    .wrapper{
        margin: 50px auto;
        background:black ;
        color: white;
        border-radius: 5px;
        width: 70%;
        min-height: 300px;
        padding: 10px;
    }

    .cent{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper #form .inputBox{
        margin: 10px auto;
    }
    
    .wrapper #form .inputBox input[type="text"],
    .wrapper #form .inputBox textarea
    {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border:1px solid #ccc;
        outline: none;
        font-size: 15px;
        transition: 0.3s border-color ease;
    }
    
    .wrapper #form .inputBox input[type="text"]:focus,
    .wrapper #form .inputBox textarea:focus
    {
        border-color: var(--primary-color);
    }
    
    .wrapper #form .inputBox textarea{
        resize: vertical;
    }
    
    .wrapper .content{
        text-align: center;
        margin: 10px 0;
    }
    
    .wrapper .content .item{
        
        align-items: center;
        background: var(--primary-color);
        border-radius: 5px;
        padding: 10px;
        color: white;
        cursor: pointer;
        margin: 10px 0;
        transition: 0.3s all ease;
    }
    
    .wrapper .content .item:hover{
        box-shadow: 0 0 5px var(--primary-color);
    }
    
     .wrapper #form .button{
    background: white;
    border: 1px solid var(--primary-color);
    padding: 10px;
    width: 110px;
    color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.3s all ease;
    display: block;
    margin-bottom: 10px;
    }
    
    .wrapper #form .button:hover{
        background:var(--primary-color);   
        color:white;
        border: 1px solid white;
        
       
    }

    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    :root{

        --primary-color:black;
    
    }
    
    .item, .inputBox, .textarea
    
    {
        font-family: encabezado;
        
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         }
    
    

    .derecha{
        display: flex; 
        width: 30%;
        margin: 50px auto; 
           }
    
    .seleta1{
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: center;
        background-color:black;
        border-radius: 5px;
    }

    .encabe{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 7vh;
        width: 23vw;
        border-radius: 5px;
      }

      .encabe:hover{
        color:white;
        background-color: black;
       border: 1px solid white;
        transition: 0.3s all ease;
        
      }


   
    
.conta{
     position: relative; 
       left: 1%;
        padding: 5px;
    }

}   

/*tablet*/
@media screen and (min-width: 568px) {
   header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:20px 0px 0px 40px;
  width: auto ;
  letter-spacing: 3px;
  padding:10px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 30px;
  padding: 10px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 1.5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vh;
       font-weight:  bolder;
       
    padding:24px;
}

.idioma{
    color:white;

}


    .concat{
        display: flex;
        width: 13vw;
        height: 35vh;
        border-radius: 50%;
        object-fit: cover;
        /* mask-image: radial-gradient(ellipse farthest-corner at 50% 0%, transparent 50%, black 51%); */
        margin: 10%;
    }


    .Izq{
    
        
        margin: 50px auto;
        width: 30%;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 5px;
        height: auto;
    }

  .playa{
       height:auto;
  align-items:center;
  max-width: 90%; height: auto;
  margin: 5%;
   border-radius: 10%;
    }
 
    .Dere{
        height: 60vh;
        width: 70%;
        margin: 3%;
        font-family: encabezado;
        font-weight: bold;
    }

   

    .contenedor{
        display: flex;
       justify-content: center;
        
    }

    .Titulo h2{
        
        display: flex;
        align-items: center;
        font-family: encabezado;
        color: white;
    }

    .comentario{
        width: 65vw;
        height: 15vh;        
    }

    :root{

        --primary-color:black;
    
    }
    
    .item, .inputBox, .textarea
    
    {
        font-family: encabezado;
        
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         }
    
    body{
        /* background:var(--primary-color); */
       
    
    }
    
    .wrapper{
        margin: 50px auto;
        background:black ;
        color: white;
        border-radius: 5px;
        width: 33%;
        min-height: 300px;
        padding: 10px;
    }
    
    .cent{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper #form .inputBox{
        margin: 10px auto;
    }
    
    .wrapper #form .inputBox input[type="text"],
    .wrapper #form .inputBox textarea
    {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border:1px solid #ccc;
        outline: none;
        font-size: 15px;
        transition: 0.3s border-color ease;
    }
    
    .wrapper #form .inputBox input[type="text"]:focus,
    .wrapper #form .inputBox textarea:focus
    {
        border-color: var(--primary-color);
    }
    
    .wrapper #form .inputBox textarea{
        resize: vertical;
    }
    
    .wrapper .content{
        text-align: center;
        margin: 10px 0;
    }
    
    .wrapper .content .item{
        
        align-items: center;
        background: var(--primary-color);
        border-radius: 5px;
        padding: 10px;
        color: white;
        cursor: pointer;
        margin: 10px 0;
        transition: 0.3s all ease;
    }
    
    .wrapper .content .item:hover{
        box-shadow: 0 0 5px var(--primary-color);
    }
    
     .wrapper #form .button{
    background: white;
    border: 1px solid var(--primary-color);
    padding: 10px;
    width: 110px;
    color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.3s all ease;
    display: block;
    margin-bottom: 10px;
    }
    
    .wrapper #form .button:hover{
        background:var(--primary-color);   
        color:white;
        border: 1px solid white;
        
       
    }
    
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .derecha{
        display: flex; 
        width: 30%;
        margin: 50px auto; 
           }
    
    .seleta1{
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: center;
        background-color:black;
        border-radius: 5px;
    }

    .encabe{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 7vh;
        width: 23vw;
        border-radius: 5px;
      }

      .encabe:hover{
        color:white;
        background-color: black;
       border: 1px solid white;
        transition: 0.3s all ease;
        
      }


    
    .nav-link1{
        background: white;
        color: black;
        width: 10%;
        text-decoration: none;
        font-size: 2.5vw;
        height: 12vh;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    footer{
     background:#424949;
 
    }
    footer a{
       position: relative; 
       left: 65%;
         font-size: 1.5vw;
        font-weight:  bolder;
        padding: 30px;
    }
    
.conta{
     position: relative; 
       left: 5%;
        padding: 30px;
    }
    
}

/*pc*/
@media screen and (min-width: 900px) {
  header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 80px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 350px;
  padding: 20px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 4vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
        font-size: 1vh;
}
 
   .concat{
        display: flex;
        width: 13vw;
        height: 35vh;
        border-radius: 50%;
        object-fit: cover;
        /* mask-image: radial-gradient(ellipse farthest-corner at 50% 0%, transparent 50%, black 51%); */
        margin: 10%;
    }


    .Izq{
    
        
        margin: 50px auto;
        width: 30%;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 5px;
        height: auto;
    }

  .playa{
       height:auto;
  align-items:center;
  max-width: 90%; height: auto;
  margin: 5%;
   border-radius: 10%;
    }
 
    .Dere{
        height: 60vh;
        width: 70%;
        margin: 3%;
        font-family: encabezado;
        font-weight: bold;
    }

    .Titulo{
        height: 20vh;
        
        display: flex;
        justify-content: center;
    }

    .contenedor{
        display: flex;
       justify-content: center;
        
    }

    .Titulo h2{
        
        display: flex;
        align-items: center;
        font-family: encabezado;
        color: white;
    }

    .comentario{
        width: 65vw;
        height: 15vh;        
    }

    :root{

        --primary-color:black;
    
    }
    
    .item, .inputBox, .textarea
    
    {
        font-family: encabezado;
        
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         }
    
    body{
        /* background:var(--primary-color); */
       
    
    }
    
    .wrapper{
        margin: 50px auto;
        background:black ;
        color: white;
        border-radius: 5px;
        width: 33%;
        min-height: 300px;
        padding: 10px;
    }
    
    .cent{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper #form .inputBox{
        margin: 10px auto;
    }
    
    .wrapper #form .inputBox input[type="text"],
    .wrapper #form .inputBox textarea
    {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border:1px solid #ccc;
        outline: none;
        font-size: 15px;
        transition: 0.3s border-color ease;
    }
    
    .wrapper #form .inputBox input[type="text"]:focus,
    .wrapper #form .inputBox textarea:focus
    {
        border-color: var(--primary-color);
    }
    
    .wrapper #form .inputBox textarea{
        resize: vertical;
    }
    
    .wrapper .content{
        text-align: center;
        margin: 10px 0;
    }
    
    .wrapper .content .item{
        
        align-items: center;
        background: var(--primary-color);
        border-radius: 5px;
        padding: 10px;
        color: white;
        cursor: pointer;
        margin: 10px 0;
        transition: 0.3s all ease;
    }
    
    .wrapper .content .item:hover{
        box-shadow: 0 0 5px var(--primary-color);
    }
    
     .wrapper #form .button{
    background: white;
    border: 1px solid var(--primary-color);
    padding: 10px;
    width: 110px;
    color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.3s all ease;
    display: block;
    margin-bottom: 10px;
    }
    
    .wrapper #form .button:hover{
        background:var(--primary-color);   
        color:white;
        border: 1px solid white;
        
       
    }
    
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .derecha{
        display: flex; 
        width: 30%;
        margin: 50px auto; 
           }
    
    .seleta1{
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: center;
        background-color:black;
        border-radius: 5px;
    }

    .encabe{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 7vh;
        width: 23vw;
        border-radius: 5px;
      }

      .encabe:hover{
        color:white;
        background-color: black;
       border: 1px solid white;
        transition: 0.3s all ease;
        
      }


    
    .nav-link1{
        background: white;
        color: black;
        width: 10%;
        text-decoration: none;
        font-size: 2.5vw;
        height: 12vh;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    footer{
     background:#424949;
 
    }
    footer a{
       position: relative; 
       left: 65%;
         font-size: 1.5vw;
        font-weight:  bolder;
        padding: 30px;
    }
    
.conta{
     position: relative; 
       left: 5%;
        padding: 30px;
    }
    
   
 
}   

@media screen and (min-width: 1200px) 
{
   header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 90px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 350px;
  padding: 20px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
}
 

    .concat{
        display: flex;
        width: 13vw;
        height: 35vh;
        border-radius: 50%;
        object-fit: cover;
        /* mask-image: radial-gradient(ellipse farthest-corner at 50% 0%, transparent 50%, black 51%); */
        margin: 10%;
    }


    .Izq{
    
        
        margin: 50px auto;
        width: 30%;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 5px;
        height: auto;
    }

  .playa{
       height:auto;
  align-items:center;
  max-width: 90%; height: auto;
  margin: 5%;
   border-radius: 10%;
    }
 
    .Dere{
        height: 60vh;
        width: 70%;
        margin: 3%;
        font-family: encabezado;
        font-weight: bold;
    }

   

    .contenedor{
        display: flex;
       justify-content: center;
        
    }

    .Titulo h2{
        
        display: flex;
        align-items: center;
        font-family: encabezado;
        color: white;
    }

    .comentario{
        width: 65vw;
        height: 15vh;        
    }

    :root{

        --primary-color:black;
    
    }
    
    .item, .inputBox, .textarea
    
    {
        font-family: encabezado;
        
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         }
    
    body{
        /* background:var(--primary-color); */
       
    
    }
    
    .wrapper{
        margin: 50px auto;
        background:black ;
        color: white;
        border-radius: 5px;
        width: 33%;
        min-height: 300px;
        padding: 10px;
    }
    
    .cent{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper #form .inputBox{
        margin: 10px auto;
    }
    
    .wrapper #form .inputBox input[type="text"],
    .wrapper #form .inputBox textarea
    {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border:1px solid #ccc;
        outline: none;
        font-size: 15px;
        transition: 0.3s border-color ease;
    }
    
    .wrapper #form .inputBox input[type="text"]:focus,
    .wrapper #form .inputBox textarea:focus
    {
        border-color: var(--primary-color);
    }
    
    .wrapper #form .inputBox textarea{
        resize: vertical;
    }
    
    .wrapper .content{
        text-align: center;
        margin: 10px 0;
    }
    
    .wrapper .content .item{
        
        align-items: center;
        background: var(--primary-color);
        border-radius: 5px;
        padding: 10px;
        color: white;
        cursor: pointer;
        margin: 10px 0;
        transition: 0.3s all ease;
    }
    
    .wrapper .content .item:hover{
        box-shadow: 0 0 5px var(--primary-color);
    }
    
     .wrapper #form .button{
    background: white;
    border: 1px solid var(--primary-color);
    padding: 10px;
    width: 110px;
    color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.3s all ease;
    display: block;
    margin-bottom: 10px;
    }
    
    .wrapper #form .button:hover{
        background:var(--primary-color);   
        color:white;
        border: 1px solid white;
        
       
    }
    
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .derecha{
        display: flex; 
        width: 30%;
        margin: 50px auto; 
           }
    
    .seleta1{
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: center;
        background-color:black;
        border-radius: 5px;
    }

    .encabe{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 7vh;
        width: 23vw;
        border-radius: 5px;
      }

      .encabe:hover{
        color:white;
        background-color: black;
       border: 1px solid white;
        transition: 0.3s all ease;
        
      }


    
    .nav-link1{
        background: white;
        color: black;
        width: 10%;
        text-decoration: none;
        font-size: 2.5vw;
        height: 12vh;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    footer{
     background:#424949;
 
    }
    footer a{
       position: relative; 
       left: 65%;
         font-size: 1.5vw;
        font-weight:  bolder;
        padding: 30px;
    }
    
.conta{
     position: relative; 
       left: 5%;
        padding: 30px;
    }
    
   
}





@media screen and (min-width: 1450px) 
{
  header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 110px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 370px;
  padding: 30px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
        font-size: 2vh;
}  

  .concat{
        display: flex;
        width: 13vw;
        height: 35vh;
        border-radius: 50%;
        object-fit: cover;
        /* mask-image: radial-gradient(ellipse farthest-corner at 50% 0%, transparent 50%, black 51%); */
        margin: 10%;
    }


    .Izq{
    
        
        margin: 50px auto;
        width: 30%;
        align-items: center;
        justify-content: center;
        background-color: black;
        border-radius: 5px;
        height: auto;
    }

  .playa{
       height:auto;
  align-items:center;
  max-width: 90%; height: auto;
  margin: 5%;
   border-radius: 10%;
    }
 
    .Dere{
        height: 60vh;
        width: 70%;
        margin: 3%;
        font-family: encabezado;
        font-weight: bold;
    }

    .Titulo{
        height: 20vh;
        
        display: flex;
        justify-content: center;
    }

    .contenedor{
        display: flex;
       justify-content: center;
        
    }

    .Titulo h2{
        
        display: flex;
        align-items: center;
        font-family: encabezado;
        color: white;
    }

    .comentario{
        width: 65vw;
        height: 15vh;        
    }

    :root{

        --primary-color:black;
    
    }
    
    .item, .inputBox, .textarea
    
    {
        font-family: encabezado;
        
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
         }
    
    body{
        /* background:var(--primary-color); */
       
    
    }
    
    .wrapper{
        margin: 50px auto;
        background:black ;
        color: white;
        border-radius: 5px;
        width: 33%;
        min-height: 300px;
        padding: 10px;
    }
    
    .cent{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wrapper #form .inputBox{
        margin: 10px auto;
    }
    
    .wrapper #form .inputBox input[type="text"],
    .wrapper #form .inputBox textarea
    {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border:1px solid #ccc;
        outline: none;
        font-size: 15px;
        transition: 0.3s border-color ease;
    }
    
    .wrapper #form .inputBox input[type="text"]:focus,
    .wrapper #form .inputBox textarea:focus
    {
        border-color: var(--primary-color);
    }
    
    .wrapper #form .inputBox textarea{
        resize: vertical;
    }
    
    .wrapper .content{
        text-align: center;
        margin: 10px 0;
    }
    
    .wrapper .content .item{
        
        align-items: center;
        background: var(--primary-color);
        border-radius: 5px;
        padding: 10px;
        color: white;
        cursor: pointer;
        margin: 10px 0;
        transition: 0.3s all ease;
    }
    
    .wrapper .content .item:hover{
        box-shadow: 0 0 5px var(--primary-color);
    }
    
     .wrapper #form .button{
    background: white;
    border: 1px solid var(--primary-color);
    padding: 10px;
    width: 110px;
    color: var(--primary-color);
    font-size: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.3s all ease;
    display: block;
    margin-bottom: 10px;
    }
    
    .wrapper #form .button:hover{
        background:var(--primary-color);   
        color:white;
        border: 1px solid white;
        
       
    }
    
    .botones{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .derecha{
        display: flex; 
        width: 30%;
        margin: 50px auto; 
           }
    
    .seleta1{
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: center;
        background-color:black;
        border-radius: 5px;
    }

    .encabe{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 7vh;
        width: 23vw;
        border-radius: 5px;
      }

      .encabe:hover{
        color:white;
        background-color: black;
       border: 1px solid white;
        transition: 0.3s all ease;
        
      }


    
    .nav-link1{
        background: white;
        color: black;
        width: 10%;
        text-decoration: none;
        font-size: 2.5vw;
        height: 12vh;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    footer{
     background:#424949;
 
    }
    footer a{
       position: relative; 
       left: 65%;
         font-size: 1.5vw;
        font-weight:  bolder;
        padding: 30px;
    }
    
.conta{
     position: relative; 
       left: 5%;
        padding: 30px;
    }
    
   
}    



