
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding:0px;
    margin:0px;
    height:auto;
     width: auto;
}

html {
  font-family: "Libre Baskerville", "sans-serif";
}

/* telefono*/
@media screen and (min-width: 200px)
{
header{
   display: flex;
      background-color: black;
      height: 6vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 0px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  padding: 7px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 1vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 1vh;
       font-weight:  bolder;
       
    padding:10px;
}

.idioma{
    color:white;
     font-size: 0.5vh;
}

.concat{
    max-width: 45%; height: auto;
    border-radius: 40%;
    opacity:0.9;
    padding:5%;
    transform: scaleX(-1);
    
}

.concat2{
 max-width: 20%; 
 height: auto; 
padding:0% 0% 20% 10%;
}

.indica{
    font-size: 350%;
   padding:5%;
    text-align:center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
     
}
.indica2{
     text-align:center;
      font-size: 100%;
}

.conteiner{
    height:auto;
     width: auto;
     display: flex;
  justify-content: center;
  align-items: center;
  margin:5%;
    
}

.formulario {
  background-color: white;
  width: 400px;
  border-radius: 12px;
  padding: 20px 40px;
  box-shadow: 10px 10px 30px rgba(93, 99, 105, .2);
  margin-bottom:5%;
  justify-content: center;
}

input{
	background-color: #fbfbfb; 
	width: 85%; 
	height: 4%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1%; 
	border-color: black; 
    padding:2%;
   
 
}
.nom:hover{
   
     animation:anima 2s infinite;
}


input.env{
    width:30%;
    margin-left:35%;
    background:black;
   color:white;
   border-color:black;
   border:solid;
}
.conteiner p{
   
    padding-top:7%;
}
textarea{
 
	width: 89%; 
	height: 15%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 2px; 
	border-color: black; 
	
  
 
}
label{
    font-size:170%;
    
}

body{
background:#EBF5FB;

	
}
.env:hover {
    border-width: 10px;
  animation:anima2 4s infinite;
}


}


/*tablet*/
@media screen and (min-width: 568px) {
   
header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:20px 0px 0px 40px;
  width: auto ;
  letter-spacing: 3px;
  padding:10px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 30px;
  padding: 10px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 1.5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vh;
       font-weight:  bolder;
       
    padding:24px;
}

.idioma{
    color:white;

}


.flex{
   display:flex;
}
.concat{
    max-width: 45%; height: auto;
    border-radius: 40%;
    opacity:0.9;
    padding:5%;
    transform: scaleX(-1);
    
}

.concat2{
 max-width: 20%; 
 height: auto; 
padding:0% 0% 20% 10%;
}

.dise単o{
   margin:10px;
      height:100%;
     width: 40%;
}


.indica{
    font-size: 350%;
   padding:5%;
    text-align:center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
     
}
.indica2,ul{
     text-align:center;
      font-size: 200%;
}

.conteiner{
    height:auto;
     width: 60%;
     display: flex;
  justify-content: center;
  align-items: center;
    
}

.formulario {
  background-color: white;
  width: 400px;
  border-radius: 12px;
  padding: 20px 40px;
  box-shadow: 10px 10px 30px rgba(93, 99, 105, .2);
  margin-bottom:5%;
  justify-content: center;
}

input{
	background-color: #fbfbfb; 
	width: 85%; 
	height: 4%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1%; 
	border-color: black; 
    padding:2%;
   
 
}
.nom:hover{
   
     animation:anima 2s infinite;
}


input.env{
    width:30%;
    margin-left:35%;
    background:black;
   color:white;
   border-color:black;
   border:solid;
}
.conteiner p{
   
    padding-top:7%;
}
textarea{
 
	width: 89%; 
	height: 15%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 2px; 
	border-color: black; 
	
  
 
}
label{
    font-size:170%;
    
}

body{
background:#EBF5FB;

	
}
.env:hover {
    border-width: 10px;
  animation:anima2 4s infinite;
}


}



/*pc*/
@media screen and (min-width: 900px) {
   
header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 80px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 350px;
  padding: 20px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 4vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
        font-size: 1vh;
}


.flex{
   display:flex;
}
.concat{
    max-width: 45%; height: auto;
    border-radius: 40%;
    opacity:0.9;
    padding:5%;
    transform: scaleX(-1);
    
}

.concat2{
 max-width: 20%; 
 height: auto; 
padding:0% 0% 20% 10%;
}

.dise単o{
   margin:10px;
      height:100%;
     width: 40%;
}


.indica{
    font-size: 350%;
   padding:5%;
    text-align:center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
     
}
.indica2,ul{
     text-align:center;
      font-size: 200%;
}

.conteiner{
    height:auto;
     width: 60%;
     display: flex;
  justify-content: center;
  align-items: center;
    
}

.formulario {
  background-color: white;
  width: 400px;
  border-radius: 12px;
  padding: 20px 40px;
  box-shadow: 10px 10px 30px rgba(93, 99, 105, .2);
  margin-bottom:5%;
  justify-content: center;
}

input{
	background-color: #fbfbfb; 
	width: 85%; 
	height: 4%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1%; 
	border-color: black; 
    padding:2%;
   
 
}
.nom:hover{
   
     animation:anima 2s infinite;
}


input.env{
    width:30%;
    margin-left:35%;
    background:black;
   color:white;
   border-color:black;
   border:solid;
}
.conteiner p{
   
    padding-top:7%;
}
textarea{
 
	width: 89%; 
	height: 15%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 2px; 
	border-color: black; 
	
  
 
}
label{
    font-size:170%;
    
}

body{
background:#EBF5FB;

	
}
.env:hover {
    border-width: 10px;
  animation:anima2 4s infinite;
}



}

@media screen and (min-width: 1200px) 
{
    
header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 90px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 350px;
  padding: 20px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
}




.flex{
   display:flex;
}
.concat{
    max-width: 45%; height: auto;
    border-radius: 40%;
    opacity:0.9;
    padding:5%;
    transform: scaleX(-1);
    
}

.concat2{
 max-width: 20%; 
 height: auto; 
padding:0% 0% 20% 10%;
}

.dise単o{
   margin:10px;
      height:100%;
     width: 40%;
}


.indica{
    font-size: 350%;
   padding:5%;
    text-align:center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
     
}
.indica2,ul{
     text-align:center;
      font-size: 200%;
}

.conteiner{
    height:auto;
     width: 60%;
     display: flex;
  justify-content: center;
  align-items: center;
    
}

.formulario {
  background-color: white;
  width: 400px;
  border-radius: 12px;
  padding: 20px 40px;
  box-shadow: 10px 10px 30px rgba(93, 99, 105, .2);
  margin-bottom:5%;
  justify-content: center;
}

input{
	background-color: #fbfbfb; 
	width: 85%; 
	height: 4%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1%; 
	border-color: black; 
    padding:2%;
   
 
}
.nom:hover{
   
     animation:anima 2s infinite;
}


input.env{
    width:30%;
    margin-left:35%;
    background:black;
   color:white;
   border-color:black;
   border:solid;
}
.conteiner p{
   
    padding-top:7%;
}
textarea{
 
	width: 89%; 
	height: 15%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 2px; 
	border-color: black; 
	
  
 
}
label{
    font-size:170%;
    
}

body{
background:#EBF5FB;

	
}
.env:hover {
    border-width: 10px;
  animation:anima2 4s infinite;
}




}




@keyframes anima{
   0%{
    border-color:green;    
   }
   50%{
        border-color:red;  
   }
   100%{
        border-color:blue;  
   }
}

@keyframes anima2{
   0%{
   
   opacity:1;
   }
   10%{
       
        border-left:red;
   }
   20%{
        border-bottom:red;
   }
   30%{
       
        border-right:red;
   }
   40%{
      
        opacity:0.5;
   }
}


@media screen and (min-width: 1450px) 
{
    
header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 110px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 370px;
  padding: 30px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
        font-size: 2vh;
}


.flex{
   display:flex;
}
.concat{
    max-width: 45%; height: auto;
    border-radius: 40%;
    opacity:0.9;
    padding:5%;
    transform: scaleX(-1);
    
}

.concat2{
 max-width: 20%; 
 height: auto; 
padding:0% 0% 20% 10%;
}

.dise単o{
   margin:10px;
      height:100%;
     width: 40%;
}


.indica{
    font-size: 350%;
   padding:5%;
    text-align:center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
     
}
.indica2,ul{
     text-align:center;
      font-size: 200%;
}

.conteiner{
    height:auto;
     width: 60%;
     display: flex;
  justify-content: center;
  align-items: center;
    
}

.formulario {
  background-color: white;
  width: 400px;
  border-radius: 12px;
  padding: 20px 40px;
  box-shadow: 10px 10px 30px rgba(93, 99, 105, .2);
  margin-bottom:5%;
  justify-content: center;
}

input{
	background-color: #fbfbfb; 
	width: 85%; 
	height: 4%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1%; 
	border-color: black; 
    padding:2%;
   
 
}
.nom:hover{
   
     animation:anima 2s infinite;
}


input.env{
    width:30%;
    margin-left:35%;
    background:black;
   color:white;
   border-color:black;
   border:solid;
}
.conteiner p{
   
    padding-top:7%;
}
textarea{
 
	width: 89%; 
	height: 15%; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 2px; 
	border-color: black; 
	
  
 
}
label{
    font-size:170%;
    
}

body{
background:#EBF5FB;

	
}
.env:hover {
    border-width: 10px;
  animation:anima2 4s infinite;
}


}


