
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding:0px;
    margin:0px;
    height:auto;
     width: auto;
}

html {
  font-family: "Libre Baskerville", "sans-serif";
}

/* telefono*/
@media screen and (min-width: 200px)
{
header{
   display: flex;
      background-color: black;
      height: 6vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 0px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  padding: 7px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 1vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 1vh;
       font-weight:  bolder;
       
    padding:10px;
}

.idioma{
    color:white;
     font-size: 0.5vh;
}


.video{
     height: 17vh;
    
animation: animacion  10s infinite ;
    
}

.video img {
    max-width: auto; 
    height: 100%;
     
    box-sizing: border-box;
    position: relative;
  
 margin: 30px 0px 0px 32%;
 
  
   border:black 5px double;
  padding:10px;
  
  border-radius:5%;
  
}

 


.resumen,.clientes{
     border-top:black 5px double;
  height: 17vh;
   display: flex;

}


.resumen:hover,.clientes:hover{
 
    animation: animacion  1.5s infinite ;
   
}

.resumen div, .clientes div{
    font-size: 1vh;
    margin:50px 0px 0px -1%;
   box-sizing: border-box;
    position: relative;
        }
        
        


.resumen p, .clientes p{
   
 font-size: 1.5vh;
font-weight:  bolder;
transform: rotate(-90deg);
margin:50px 0px 300px 0px;
 
}






.links{
    border-top:black 5px double;
    display: flex;
    height: 1vh;
}
.links img{
     
    max-width: 10%; 
    height: auto;
margin:5px 0px 0px 20px;

}


footer{
    
    font-family: "FF Mark W05", Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e;
}


}


/*tablet*/
@media screen and (min-width: 568px) {
   
header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:20px 0px 0px 40px;
  width: auto ;
  letter-spacing: 3px;
  padding:10px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 30px;
  padding: 10px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 1.5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vh;
       font-weight:  bolder;
       
    padding:24px;
}

.idioma{
    color:white;

}


.video{
     height: 20vh;
    
animation: animacion  10s infinite ;
    
}

.video img {
    max-width: auto; 
    height: 110%;
     
    box-sizing: border-box;
    position: relative;
  
 margin: 40px 0px 0px 32%;
 
  
   border:black 5px double;
  padding:10px;
  
  border-radius:5%;
  
}

 


.resumen,.clientes{
     border-top:black 5px double;
  height: 20vh;
   display: flex;

}


.resumen:hover,.clientes:hover{
 
    animation: animacion  1.5s infinite ;
   
}

.resumen div, .clientes div{
    font-size: 1.5vh;
    margin:60px 0px 0px -1%;
   box-sizing: border-box;
    position: relative;
        }
        
        


.resumen p, .clientes p{
   
 font-size: 3vh;
font-weight:  bolder;
transform: rotate(-90deg);
margin:100px 0px 300px 0px;
 
}






.links{
    border-top:black 5px double;
    display: flex;
    height: 5vh;
}
.links img{
     
    max-width: 10%; 
    height: auto;
margin:15px 0px 0px 20px;

}


footer{
    
    font-family: "FF Mark W05", Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e;
}



}



/*pc*/
@media screen and (min-width: 900px) {
   
header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 80px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 350px;
  padding: 20px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 4vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
        font-size: 1vh;
}


.video{
     height: 40vh;
    
animation: animacion  10s infinite ;
    
}

.video img {
    max-width: auto; 
    height: 115%;
     
    box-sizing: border-box;
    position: relative;
  
 margin: 40px 0px 0px 32%;
 
  
   border:black 5px double;
  padding:10px;
  
  border-radius:5%;
  
}

 


.resumen,.clientes{
     border-top:black 5px double;
  height: 40vh;
   display: flex;

}


.resumen:hover,.clientes:hover{
 
    animation: animacion  1.5s infinite ;
   
}

.resumen div, .clientes div{
    font-size: 4vh;
    margin:80px 0px 0px -1%;
   box-sizing: border-box;
    position: relative;
        }
        
        


.resumen p, .clientes p{
   
 font-size: 3vh;
font-weight:  bolder;
transform: rotate(-90deg);
margin:3% 0px 5% 6%;
 
}






.links{
    border-top:black 5px double;
    display: flex;
    height: 10vh;
}
.links img{
     
    max-width: 10%; 
    height: auto;
margin:15px 0px 0px 20px;

}


footer{
    
    font-family: "FF Mark W05", Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e;
}

}


@media screen and (min-width: 1200px) 
{
    
header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 90px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 350px;
  padding: 20px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  justify-content: flex-start;
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
}


.video{
     height: 40vh;
    
animation: animacion  10s infinite ;
    
}

.video img {
    max-width: auto; 
    height: 115%;
     
    box-sizing: border-box;
    position: relative;
  
 margin: 40px 0px 0px 32%;
 
  
   border:black 5px double;
  padding:10px;
  
  border-radius:5%;
  
}

 


.resumen,.clientes{
     border-top:black 5px double;
  height: 40vh;
   display: flex;

}


.resumen:hover,.clientes:hover{
 
    animation: animacion  1.5s infinite ;
   
}

.resumen div, .clientes div{
    font-size: 4vh;
    margin:90px 0px 0px -1%;
   box-sizing: border-box;
    position: relative;
        }
        
        


.resumen p, .clientes p{
   
 font-size: 3vh;
font-weight:  bolder;
transform: rotate(-90deg);
margin:3% 0px 5% 6%;
 
}






.links{
    border-top:black 5px double;
    display: flex;
    height: 10vh;
}
.links img{
     
    max-width: 10%; 
    height: auto;
margin:15px 0px 0px 20px;

}


footer{
    
    font-family: "FF Mark W05", Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e;
}


}




@media screen and (min-width: 1450px) 
{
    
header{
   display: flex;
      background-color: black;
      height: 10vh;
    
}

.navega {
  display: flex;
  margin:0px 0px 0px 110px;
  width: auto ;
  letter-spacing: 3px;
  padding:0px;
  list-style: none;

}

.navega li {

  width: auto;
  height: 370px;
  padding: 30px;
  font-weight:  bolder;
 
        }
        
 li a{
      background-color:black;
    font-size: 5vh;
    color: white;
    text-decoration: none;
        transition: background-color 1.5s;
  }
  
li a:hover {
  background-color: white;
  color:black;
  cursor: pointer;
 border-radius: 30%;
}


.logo{

 max-width: auto;
 height: 100%;
  
}

header .nombre{
     
     display: flex;
  
     text-align: center; 
     background:black;
      color: white;
      
      font-size: 2vw;
       font-weight:  bolder;
       padding:1vw;
    
}

.idioma{
    color:white;
        font-size: 2vh;
}


.video{
     height: 40vh;
    
animation: animacion  10s infinite ;
    
}

.video img {
    max-width: auto; 
    height: 115%;
     
    box-sizing: border-box;
    position: relative;
  
 margin: 40px 0px 0px 32%;
 
  
   border:black 5px double;
  padding:10px;
  
  border-radius:5%;
  
}

 


.resumen,.clientes{
     border-top:black 5px double;
  height: 40vh;
   display: flex;

}


.resumen:hover,.clientes:hover{
 
    animation: animacion  1.5s infinite ;
   
}

.resumen div, .clientes div{
    font-size: 4vh;
    margin:120px 0px 0px -1%;
   box-sizing: border-box;
    position: relative;
        }
        
        


.resumen p, .clientes p{
   
 font-size: 3vh;
font-weight:  bolder;
transform: rotate(-90deg);
margin:3% 0px 5% 6%;
 
}






.links{
    border-top:black 5px double;
    display: flex;
    height: 10vh;
}
.links img{
     
    max-width: 10%; 
    height: auto;
margin:15px 0px 0px 20px;

}


footer{
    
    font-family: "FF Mark W05", Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e;
}


}




@keyframes animacion{

  0%{
    background: white;

  }
   20%{
      
      background: #E7E6E6;
 
    }
     40%{
      
      background:  #D2D2D2;
 
    }
     60%{
      
      background: #D2D2D2;
 
    }
     80%{
      
      background:  #E7E6E6;
 
    }
     100%{
      
      background: white;
 
    }
  }

/*@keyframes animacion2{
  
  0%{
    opacity:1;
  }
 
     100%{
       opacity:1;
    }
  }
*/


